@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: var(--clr-text-heading);
  line-height: 1.5;
}

p {
  color: var(--clr-text-body);
}

ol,ul {
  list-style: none;
}


img {
  display: block;
}

.text-lg {
  font-weight: var(--font-weight-400);
  font-size: 1.125rem;
}

.h3 {
  
}

.space-y-2 > * + * {
  margin-top: 2rem;
}

.space-y-3 > * + * {
  margin-top: 3rem;
}

.space-y-4 > * + * {
  margin-top: 4rem;
}

.container {

  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width > 576px) {
    max-width: 540px;
  }

  @media (width > 768px) {
    max-width: 720px;
  }

  @media (width > 992px) {
      max-width: 960px;
  }

  @media (width > 1200px) {
    max-width: 1140px;
  }

  @media (width > 1400px) {
    max-width: 1320px;
  }
}


:root {
  --clr-primary: #6366F1;
  --clr-primary-linear-gradient: 0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%;
  --clr-gray-bg-p3: #F3F6FF;
  
  --clr-success: #22C55E;

  /* Text color*/
  --clr-text-body: #585C7B;
  --clr-text-heading: #0B0F19;
  --clr-text-nav: #33354D;

  /*Buttons*/
  --clr-white-to-gray: #fff;
  --clr-button-arrow: #585C7B;
  
  --clr-bg: #fff;
  --clr-bg-HowSection: #F3F6FF;
  --clr-bg-Reviews: #F3F6FF;
  --clr-bg-Review-Cards: #fff;
  --clr-bg-FAQ-Questions: #fff;
  --clr-bg-Subscribe: #F3F6FF;
  --clr-white: #fff;
  --clr-logos-hover: #d4d7e53b;
  --clr-gray-100: #F3F6FF;
  --clr-gray-200: #EFF2FC;
  --clr-gray-300: #E2E5F1;
  --clr-gray-400: #D4D7E5;
  --clr-gray-500: #B4B7C9;
  --clr-gray-600: #9397AD;
  --clr-gray-700: #585C7B;
  --clr-gray-800: #33354D;
  --clr-gray-900: #0B0F19;
  
  --container-padding: 1rem;

  --font-size-h1-40: 2.5rem;
  --font-size-h2-32: 2rem;
  --font-size-h3-28: 1.75rem;
  --font-size-h4-24: 1.5rem;
  --font-size-h5-20: 1.25rem;
  --font-size-h6-16: 1rem;
  
  --font-weight-400:400;
  --font-weight-600:600;
  --font-weight-700:700;
  --font-weight-900:900;
  
  --section-spacing: 2rem;

  --border-radius--btn-primary: .3rem;
  
  }

  .dark {
    --clr-bg: #0B0F19;
    --clr-bg-nav: #060912e8;
    --clr-bg-HowSection: #0b0f19ee;
    --clr-bg-Reviews: #0b0f19ee;
    --clr-bg-Review-Cards: #0b0f1942;
    --clr-bg-FAQ-Questions: #151729f6;
    --clr-bg-Subscribe: #38393d52;
    --clr-white-to-gray: rgba(255, 255, 255, 0.5);
    --clr-button-arrow: var(--clr-white);
    --clr-gray-900: #9397AD;
    --clr-text-heading: #fff;
    --clr-text-nav: #fff;
    --clr-text-body: #fff;
      }

  .btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    cursor: pointer;
    text-decoration: none;

    &:hover{
      background-color: var(--clr-gray-700);
      color: var(--clr-white);
      text-decoration: none;
    }
  }

  /************ Navbar Start********/

  .main-menu {
    padding-bottom: 1rem;
    background-color: var(--clr-bg-nav);
    background-image: var(--clr-primary-linear-gradient);

    display: flex;

    .container, 
    .nav-menu {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      }

      .nav-menu {
        width: 100%;
        margin-left: -7rem;
        gap: 1rem;
      }

      .container {
        position: relative;
      }

      .silicon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .logo {
          margin-top: .5rem;
        }
  
        .silicon-text {
          margin-top: .75rem;
          font-size: 1.2rem;
          font-weight: var(--font-weight-600);
        }

      }

   

      .darkmode-toggle {
        top: 1.85rem;
        position: absolute;
        right: 19rem;

        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .label {
        font-weight: var(--font-weight-600);
        color: var(--clr-text-nav);
      }

      .toggle { 
        --_w: 60px;
        --_h: 30px;
        width: var(--_w);
        height: var(--_h);
        display: inline-block;
        position: relative;
      
        input[type="checkbox"] {
          appearance: none;
        }
      
        input[type="checkbox"]:focus-visible + .slider {
          outline: 1px solid var(--clr-primary); /* Kan "tabbas" fram */
          outline-offset: 2px;
        }
      
        .slider {
          position: absolute;
          inset: 0;
          border-radius: 100vw;
          background-color: var(--clr-gray-600);
          box-shadow: 0 0 1px #00000085;
          cursor: pointer;
          transition: background-color 0.5s ease, box-shadow 0.3s ease;
      
          &::before {
            content: "";
            position: absolute;
            top: 7%;
            left: 5%;
            height: 85%;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: var(--clr-white);
            box-shadow: 0 0 1px #00000085;
            transition: transform 0.35s ease;
          }
      
          &:hover {
            box-shadow: 0 0 5px #00000085;
          }
        }
      
        input[type="checkbox"]:checked + .slider::before {
          transform: translateX(110%); /* Denna del hjälpte CHAT GPT mig med men behövde justera lite*/
        }
      
        input[type="checkbox"]:checked + .slider {
          background-color: var(--clr-primary);
        }
      
      }

      .menu-btn {
        display: none;
        right: 1rem;
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        aspect-ratio: 1;
        width: 3rem;
      }

      .btn-container {
        display: none;
        position: relative;
        top: .25rem;
        left: 44rem;

        .btn {
          width: 10rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          gap: .5rem;
          font-weight: var(--font-weight-400);
          border-radius: var(--border-radius--btn-primary);
          padding: .5em 1em;
        }
      }


      .nav-link {
        text-decoration: none;
        color: var(--clr-text-nav);
        font-weight: var(--font-weight-600);

        &:hover,
        &:focus-visible {
          color: var(--clr-primary);
        }
      }

      @media (width <= 500px) {

        .main-menu, .container {
          min-width: 440px;
        }
      }


      @media (width <= 768px) {

        .main-menu, .container {
          width: 500px;
        }

        .label {
          display: none;
        }

        .darkmode-toggle {
          top: 1.7rem;
          right: 6rem;
        }
      }

      @media (width <= 1200px) {

        .darkmode-toggle {
          right: 7rem;
          top: 1.7rem
        }

        .menu-btn {
          display: block;
          right: 2rem;
          width: 3rem;
        }
      }

      @media (width >= 1200px) {
        .btn-container {
          display: block;
        }
      }

      @media (width >= 1400px) {
        .btn-container {
          display: block;
          left: 56rem;
        }
      }

      @media (width <= 1400px) {

        .nav-menu {
          display: none; /* Denna ska bort vid en fungerande mobil meny*/
        }
      }

  }


  /**************Navbar End************/

  /*********Hero Section-start**********/

  .showcase {
    overflow: hidden;
    padding-top: 1rem;
    text-align: center;
    background-color: var(--clr-bg);
    background-image: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    margin: 0 auto;
    min-width: 450px;
  
    .container {
      
      h1 {
        font-size: 2.75rem;
      }
    }
  
    .content {
      
      h1 {
        font-weight: var(--font-weight-900);
      }
    }
  
    .market-btns {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
      
    .store-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--clr-gray-900);
      width: 100%;
      padding: .5em 1em;
      border-radius: .5rem;
  
      &:hover,
          &:focus-visible {
            background-color: var(--clr-primary);
          }
        
          &:active {
            background-color: var(--clr-gray-900);
          }

      img {
        width: 38%;
      }
    }
  
    .more {
      padding-bottom: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      text-decoration: none;
      color: var(--clr-gray-700);
  
      .btn-round {
        display: inline-block;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 3em;
        width: 3em;
  
        &:hover,
          &:focus-visible {
            background-color: var(--clr-gray-900);
            color: var(--clr-white);
          }
        
          &:active {
            background-color: var(--clr-white);
            color: var(--clr-gray-900);
          }
      }
  
      
      .btn-white {
      background-color: var(--clr-white-to-gray);
      color: var(--clr-button-arrow);
      }
    }
  
    .phone-img-container {
      display: none;
    }
  
    
  
  
    @media(width > 768px) {
  
      
      .container {
        position: relative;
  
        h1 {
          line-height: 3.5rem;
        }
      }
  
      .content {
        margin-top: 3rem;
        padding-top: 1rem;
        width: 45%;
        text-align: start;
      }
  
      .market-btns {
        flex-direction: row;
      }
  
      .store-btn {
        width: 40%;
        padding: .5rem .55rem;
        img {
          width: 85%;
          height: 85%;
        }
      }
  
      .more {
        justify-content: flex-start;
      }
      .phone-img-container {
        display: block;
        width: 60%;
        position: absolute;
        bottom: -8rem;
        right: -1.75rem;
  
        img {
          width: 90%;
          object-fit: cover;
        }
      }
    }
  
    @media(width > 992px) {
  
      .container {
        padding-top: 1rem;
  
        h1 {
          margin-left: 3rem;
          text-align: start;
        }
      }
      
      .content {
        margin-left: 3rem;
        width: 45%;
      }

  
      .more {
        margin-top: 10rem;
      }
  
      .phone-img-container {
        width: 60%;
        bottom: -11rem;
        right: -1.75rem;
      }
    }
  
    @media(width > 1200px) {
  
      .container {
        padding-top: 3rem;
      }
  
      .market-btns {
        margin-top: 2rem;
      }

      .content {
        margin-top: 1rem;
        width: 38%;
  
        p {
          font-size: 1rem;
        }
      }
  
      .more {
        margin-top: 12rem;
      }
  
      .phone-img-container {
        width: 60%;
        bottom: -13rem;
        right: 4rem;
      }
    }
  
    @media(width > 1400px) {
  
      .container{
        margin-top: 6rem;
      }
  
      .content {
        width: 28%;
      }
      .phone-img-container {
        width: 58%;
        bottom: -14rem;
        right: 2.5rem;
      }
    }
  }

  /*********Hero Section-End**********/


/**********LOGOS START********/

.section-logos {
  background-color: var(--clr-bg);
  display: none;
  padding-top: 4rem;

  @media (width > 768px) {
    display: block;

    #brand-5, #brand-6 {
      display: none;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .brand-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-gray-300);
    padding: 1rem;
    border-radius: 0.4rem;

    &:hover {
      background-color: var(--clr-logos-hover);
    }

    &:active {
      background-color: var(--clr-bg);
    }
  }

  @media (width >= 992px) {
    .brand-box {
      padding: 2rem;
    }
  }

  @media (width >= 1200px) {
    #brand-5, #brand-6 {
      display: block;
    }
    .brand-box {
      padding: 1.3rem;
    }
  }

  @media (width >= 1400px) {
    .brand-box {
      padding: 2rem;
    }
  }
}

/*************LOGOS END*************/

/**********APP FEATURES START**********/


.app-features {
  background-color: var(--clr-bg);

  min-width: 450px;

.container {

  padding-top: 3rem;
  padding-bottom: 3rem;

  .features-iphone-image {
    display: none;
  }

  h2 {
    font-weight: var(--font-weight-700);
    font-size: 2.25rem;
  }

  .big-textbox {
    text-align: center;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    .feature-boxes {
      cursor: pointer;
      display: flex;
      text-align: start;
      gap: 1rem;
      

      .text-boxes {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .features-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 1200px) {

  .container {
    display: flex;
    gap: 7rem;

    .features-iphone-image {
      display: block;

      img {
        margin-top: 3rem;
        width: 90%;
      }
      
    }
    .big-textbox {
      flex: 1;
      text-align: start;
    }

    .features-container {
      gap: 3rem;
    
      .feature-boxes {
        gap: 3rem;
        
        .text-boxes {
          gap: .5rem;
        }
      }
    }
  }
}

}

/**********APP FEATURES END**********/

/****HOW DOES IT WORK START******/


.section-how {
  min-width: 450px;
  background-color: var(--clr-bg-HowSection);
  text-align: center;

  .container {
    padding: 4rem;
  }
}


.headline {
  h1 {
    font-weight: var(--font-weight-700);
    font-size: 1.7rem;
  }
}

.img-mobile {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 70%;
  }
}

.text-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
  }

  p {
    font-weight: var(--font-weight-400);
    font-size: 1rem;
  }
}

.text-tablet {
  margin: auto;

  h2 {
    
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
  }

  p {
    font-size: 1.1rem;
  }
}

.text-desktop {
  margin: auto;

  h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
  }

  p {
   
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}



.img-tablet {
  display: none;
}

.img-desktop {
  display: none;
}

.text-tablet {
  display: none;
}

.text-desktop {
  display: none;
}


@media (max-width: 768px) {

  

  .img-tablet {
    display: none;
  }

  .text-tablet {
    display: none;
  }
  .img-desktop {
    display: none;
  }

  .text-desktop {
    display: none;
  }
}


@media (min-width: 768px) {

    .img-mobile {
      display: none;
    }

    .text-mobile {
      display: none;
    }

    .img-tablet {
      display: block;
    }

    .text-tablet {
      display: block;
    }

    .text-desktop {
      display: none;
    }

    .headline h1 {
      font-size: 2rem;
      padding-bottom: 3rem;
    }

    .img-tablet {
      display: flex;
      justify-content: center;

      .phone-container-tablet {
        display: flex;
        justify-content: center;
        
        img {
          width: 90%;
          height: 90%;
        }
      }
    }

    .text-tablet {
      max-width: 510px;
      padding: 2rem;

      h2 {
        font-size: 1.5rem;
      }

      p {
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
  }


@media (min-width: 1400px) {

  .img-desktop {
    display: block;
  }

  .img-tablet {
    display: none;
  }

  .text-tablet {
    display: none;
  }

  .text-desktop {
    display: block;
  }

  .text-desktop {
    max-width: 550px;

    h2 {
      margin: 0;
      font-size: 1.25rem;
    }

    p {
      font-size: .8rem;
      font-weight: var(--font-weight-400);
      padding-bottom: 1rem;
    }
  }

  .img-desktop {
    display: flex;
    justify-content: center;

    .phone-container-desktop {
      display: flex;
      gap: 1rem;

      img {
        width: 85%;
        height: 85%;
      }
    }
  }
}


/****HOW DOES IT WORK END******/


/*MONEY TRANSFER START*/

.section-money {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--clr-bg);

  .container-grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto;
    max-width: 1200px;

    .boxes {

      h2 {
        font-weight: var(--font-weight-700);
        font-size: var(--font-size-h3-28);
      }

      .btn-primary {
        max-width: 11em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: .3em;
        padding: .5em 1em;
      
        i {
          margin-right: .5em;
        }
      }
    }

    .box-1 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-right: 10rem;
      margin-bottom: 2rem;


      .ul-flex li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        line-height: 2rem;
        color: var(--clr-gray-700);
      }
    }
    
    .box-4 {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .icon-boxes {
        display: flex;
        align-items: center;
        gap: 2rem;
        max-width: 33rem;
      }
    }
  }
}

@media (max-width: 1400px) {
  .section-money {
    display: none;
  }
}

/*MONEY TRANSFER END*/


/***** Reviews "Clients are loving our App"*****/
 

.section-reviews {
  display:none;
  background-color: var(--clr-bg-Reviews);

}

.flex-container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .headline h2 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 13rem;
    margin-right: 1.5rem;
    font-weight: var(--font-weight-700);
  }

  .cards {
    max-width: 780px;
    display: flex;
    gap: 1.5rem;
    position: relative;
    
    .card {
      background-color: var(--clr-bg-Review-Cards);
      padding: 3rem 1rem 1rem 1rem;
      border-radius: .5rem;
      box-shadow: 0 0 5px rgba(177, 177, 177, 0.377);

     
      .rating {
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.7rem;
      }

      .author-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.5rem;
        gap: .75rem;

        .name-group {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          h6{
            font-size: .8rem;
          }
  
          p {
            font-size: .8rem;
          }
        }
      }

      .quotation-icon {
        position: absolute;
        top: -10%; 
      }
    }
  }
}

@media (min-width: 1400px) {
  .section-reviews {
   display:block;
  }
}


/******************FAQ SECTION START***************/

/*Tog mycket inspiration från Jockes accordion video för att bygga och styla en fungerande accordion*/

.section-faq{
  overflow: hidden;
  padding-top: 3rem;
  text-align: center;
  background-color: var(--clr-bg);
  margin: 0 auto;
  min-width: 450px;

  .container {

    .headline {
      margin-bottom: 1rem;

      h2 {
        font-size: 1.6rem;
      }
    }

    .headline-text {
      p {
        font-size: 1.3rem;
      }
    }

    .form-container {
      max-width: 500px;
      margin: 3rem auto;
      text-align: start;
      border-radius: .5rem;
      border: 1px solid var(--clr-gray-400);
    }

    .question {
      background-color: var(--clr-bg-FAQ-Questions);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--clr-gray-400);
      cursor: pointer;

      h3 {
        font-weight: var(--font-weight-600);
        font-size: 1.1rem;
      }
    }

    .answer {
      padding: 1rem;
    }

    .btn-round {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: var(--clr-gray-200);
      border: 0;
      padding: .8rem;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: transform 0.3s ease, background-color 0.3s ease;
      transform: rotate(0deg);

      &:hover {
        background-color: var(--clr-primary);
        transition: all 400ms;
      }
    }

    .answer {
      background-color: var(--clr-bg-FAQ-Questions);
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
    
      transition: grid-template-rows 300ms;
      padding: 0 .7rem;
    }
    
    .expandable {
      min-height: 0px;
    }
    .open .answer {
      grid-template-rows: 1fr;
      padding: 1rem;
    }
    
    .open .btn-round {
      background-color: var(--clr-primary);
      color: white;
      transform: rotate(180deg);
    }
    

    .contact-cards {
      display: none;
    }

    .button-container {
      margin-bottom: 2rem;

      .btn {
        border: none;
        border-radius: .5em;
        padding: 1em;
        font-weight: var(--font-weight-400);
      }
    }


    @media (width >= 768px) {

        .header {
          max-width: 480px;
          margin: 0 auto;
        }

      .form-container {
        max-width: 800px;
        margin: 3rem auto;
        border-radius: .5rem;
        border: none;
      }

      .forms {
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 
        0px 2px 4px rgba(0, 0, 0, 0.06);
        margin: 1rem 0;
      }

      .question {
        border-bottom: none;

          h3 {
            font-size: 1rem;
          }
        
      }

        .button-container {
          display: none;
        }

        .contact-cards {
          display: block;
          margin: 0 auto;
          display: flex;
          gap: 2rem;
          max-width: 800px;
      
          .card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-grow: 1;
            gap: 1rem;
            padding: 1.5rem 1.5rem 2rem;
            border: 1px solid var(--clr-gray-300);
            border-radius: .5rem;
      
            p {
              font-size: .85rem;
            }
      
            .contact-box {
              cursor: pointer;
             display: flex;
             flex-direction: row;
             align-items: center;
             gap: .75rem;
      
            &.phone {
             p, i {
                color: var(--clr-primary);
                font-weight: var(--font-weight-700);
              }
            }
      
            &.message {
              p, i {
                color: var(--clr-success);
                font-weight: var(--font-weight-700);
                }
              }
            }
          }
      }
    }
  }
}


@media(width >= 1400px) {

  .section-faq{

    text-align: start;
  
    .container {
      
      .grid-container {
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headline form-container"
                              "contact-cards form-container";
    
        .headline {
          grid-area: headline;
          margin-top: 3.5rem;
        }

        .headline-text {
          p {
            font-size: 1rem;
            max-width: 400px;
          }
        }
    
        .form-container {
          grid-area: form-container;
        }
    
        .contact-cards {
          grid-area: contact-cards;
          justify-content: center;
          min-height: 150px;
          width: 400px;
          position: absolute;
          top: 2rem;
          left: 5rem;
    
          .card {
            justify-content: center;
            gap: 1rem;
            padding: .1rem .1rem 0rem 1rem;
          }
        }
      }
    }
  }
}


/********SUBSCRIBE START"*****/

.subscribe {
  background-color: var(--clr-bg);
  min-width: 380px;
  padding-top: 1rem;
  min-width: 450px;
  margin: auto;

  .container {
    
    .subscribe-box {
      background-color: var(--clr-bg-Subscribe);
      padding: 2rem;
      border-radius: .5rem;
      gap: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      

        .item-group {
          display: flex;
          align-items: center;
          justify-content: start;
          padding-bottom: 1.5rem;
          gap: 1rem;
          
        }

      .header {
        h2 {
          font-size: 1.25rem;
          line-height: normal;
          font-weight: var(--font-weight-700);
        }
        h2::after {
          content: '';
        }
      }
    }
  }

  .btn {
    background-color: var(--clr-primary);
    color: white;
    padding: .9rem 1.25rem;
    border: none;
    cursor: pointer;
    font-weight: var(--font-weight-400);
    }
  
      .form-input {
        border: 1px solid #d3d2d2;
        border-right: none;
        font-size: .8rem;
        font-weight: var(--font-weight-400);
        padding: 1rem 2.5rem;
      }

          .input-flex {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
          
            .form-input {
              border-radius: .5rem 0 0 .5rem;
              
              &.error {
                border-color: firebrick;
              }
        
            }
            .btn {
                  border-radius: 0 .5rem .5rem 0;
            }
          }

  
        .icon {
          position: absolute;
          top: 35%;
          right: 90%;
          font-size: 1rem;
          opacity:70%;
        }

      .error-section {
        position: absolute;
        top: 9rem;
        right: 10.5rem;
      
    .error {
      color: firebrick;
      font-size: .75rem;
      font-weight: var(--font-weight-600);
    }
  }
  
}

  @media (min-width: 768px) {

    .subscribe {
      padding-top: 2rem;
    
      .container {
        
        .subscribe-box {
          min-width: 700px;
          flex-direction: row;
          justify-content: space-around;
    
            .item-group {
              padding-bottom: 0rem;
              gap: 2rem;
            }
          }
        }
      
      .error-section {
        top: 6.75rem;
        right: 9.5rem;
      }
    } 
  }
  
    @media (min-width:1400px) {
  
      .subscribe {
        padding-top: 2rem;
      
        .container {

          .subscribe-box {
            min-width: 700px;
            flex-direction: row;
            justify-content: space-around;
      
            .item-group {
              .header {
                max-width: 400px;
    
                .break {
                  display:none;
                }
    
                h2::after { /*Denna property tog jag hjälp av chat GPT*/
                  content: 'to stay informed about latest updates';
                }
              }     
            }

            .input-flex {
                input::placeholder {
                  text-transform: capitalize; /*Kod från chat GPT*/
                }
              }
            }  
          }
  
        .error-section {
          top: 6.75rem;
          right: 15rem;
        }
      } 
    }
    


    /*****Subscribe End"*****/


    /* Footer */

footer {

  .footer-container {
    background-color: var(--clr-bg);
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 1rem;
   

      p {
        font-size: .75rem;
      }
    }
}

@media (min-width: 768px) {

  footer {

    .footer-container {
      display: flex;
      flex-direction: row;
    }
    }
  }